<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
       default-autowire="byName" default-lazy-init="true">

    <!--方式一、使用jdk的URI实现-->
    <bean id="jdkRequestFactory" class="org.springframework.http.client.SimpleClientHttpRequestFactory" />
    <!--方式二、使用httpclient的实现-->
    <bean id="httpClientRequestFactory" class="org.springframework.http.client.HttpComponentsClientHttpRequestFactory" />
    <!--方式三、使用netty的实现-->
    <bean id="nettyRequestFactory" class="org.springframework.http.client.Netty4ClientHttpRequestFactory" />


    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="httpClientRequestFactory"/>
    </bean>


    <!--方式、异步httpclient的实现-->
    <bean id="asyncClientHttpRequestFactory"
          class="org.springframework.http.client.HttpComponentsAsyncClientHttpRequestFactory" />

    <bean id="aysncRestTemplate" class="org.springframework.web.client.AsyncRestTemplate">
        <constructor-arg ref="asyncClientHttpRequestFactory"/>
    </bean>

</beans>